* {
    margin : 0;
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width : 100vw;
    height : 100vh;
}
.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
    width: 45%;
    height: 30%;
    background-color:#ffffff67;
    font-size: 40px;
}
.generateColor{
    padding: 0.5rem 2rem;
    border: none;
    font-size: 20px;
    background-color:#ffffff67;
    color: black;
}
.copyMsg{
    margin-bottom: 2em;
    font-size: 40px;
    color: #ffffff;
    -webkit-text-stroke: 2px solid #000000;
}